.clients {
    text-align: center;
    padding: 40px 20px;
    background: #f8f8d9;
  }
  
  .client-list {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .client-list img {
    width: 100px;
    height: auto;

  }
  