.explore-category {
    text-align: center;
    padding: 20px;
  }
  .category-slider {
    display: flex;
    overflow-x: 500px;
    gap: 20px;
  }
  .category-card {
    flex: 0 0 auto;
    width: 200px;
    height: auto;
    padding: 5px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
  }
  .category-card img {
    width: 100%;
  }
  .category-card h3 {
    margin: 5px 0;
  }

  .explore-category {
    background: linear-gradient(to bottom, #ffffff, #f0f0f5); /* Subtle gradient */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.explore-category h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.category-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* Links */
.category-card a {
  color: #005792;
  font-weight: bold;
  text-decoration: none;
}

.category-card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .client-logos {
      flex-direction: column;
      align-items: center;
  }
}
   